@charset "UTF-8";
/*  base.css  */
body{  font-family:"Malgun Gothic" , dotum , sans-serif;    color:#000;}
a:link, a:visited{   /*color:#000; */   text-decoration:none; }
a:hover, a:focus{  color:#f00;   text-decoration:underline; }

.hidden{position:absolute; left:-9999px; width:1px; height:1px; line-height:0; overflow:hidden;}

